
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Shopify Response</strong><br /><br />

  <% @products.each do |p| %>
    <%= p.title %><br />
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
