// Place all the styles related to the UserSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  background-color: #DFEFF2;
  margin: 12px;
}


h1.headline {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}
